<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateselectinganyArea</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithInvalidPhoneNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithPhoneNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithCustomerId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateCustomerSearchPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithinvalidCustomerId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateselectinganyRoute</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>End</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
