<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateByEnterValidPinCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebySelectingrandomlyanyDropdownlistfromRingBellFiled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithInvalidPhoneNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateByEnterValidState</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEnterValidUpperLowercaseFirstLastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEntervalidEmailId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebyEnterPositiveWalletRemark</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebySelectingrandomlyanyDropdownlistfromPreferenceTimeSlotFiled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEnterInvalidLowercasewithnumericvaluelastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateBySelectCityandLocality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebySelectingrandomlyanyDropdownlistfromHowyoucameToKnownFiled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateselectinganyAreaandSearching</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithCustomerId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithInvalidName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateselectingandEnterAllFiledSearching</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebySelectingrandomlyanyDropdownlistfromPromotionalSMSFiled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateCustomerSearchPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEnterValidAllLowercaseFirstLastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithinvalidCustomerId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithvalidAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateByEnterValidAddressLine3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateselectingCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEnterInvalidLowercasewithnumericvalueFirstName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateByEnterinValidAddressLine1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebySelectingrandomlyanyDropdownlistfromOBDCallsFiled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateByEnterValidAddressLine1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEnterValidallUppercaseFirstLastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateByEnterValidAddressLine2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEnterValidLargeFirstName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebySelectingrandomlyanyDropdownlistfromPromotionalCallsFiled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebySelectingrandomlyanyDropdownlistfromStopDeliverysmsFiled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithPhoneNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithvalidEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebySelectingrandomlyanyDropdownlistfromPositiveWalletFiled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateselectinganyRoute</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateselectinganyRoutesandAreaandSearching</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEnterInvalidBlankTextInFirstNameField</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateselectinganyRoutesandSearching</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateselectingCustomerandClickingOnebyOne</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateByEnterLargeValidAddressLine1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSeperateBillingAddressSectionAndEnterValidAddressLine1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebyEnterPreferenceRemark</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithinvalidEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validatebySelectingrandomlyanyDropdownlistfromBillCyclesFiled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSearchWithinvalidAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>End</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
