<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c95aa">  <td>21/07/02 11:04:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerProfilePageTest.setUp()[pri:0, instance:com.new_cms_admin.qa.testcases.CustomerProfilePageTest@3af4e0bf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@585878713</td>   <td></td> </tr>
<tr bgcolor="9c95aa">  <td>21/07/02 11:04:22</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerProfilePageTest.validateByEnterValidPinCode()[pri:43, instance:com.new_cms_admin.qa.testcases.CustomerProfilePageTest@3af4e0bf]">validateByEnterValidPinCode</td> 
  <td>main@585878713</td>   <td></td> </tr>
<tr bgcolor="9c95aa">  <td>21/07/02 11:04:22</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerProfilePageTest.validateSeperateBillingAddressSectionAndEnterValidAddressLine1()[pri:44, instance:com.new_cms_admin.qa.testcases.CustomerProfilePageTest@3af4e0bf]">validateSeperateBillingAddressSectionAndEnterValidAddressLine1</td> 
  <td>main@585878713</td>   <td></td> </tr>
</table>
