<h2>Methods that were not run</h2><table>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateEnterInvalidLowercasewithnumericvaluelastName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter valid Lower case with in Name Filed and Enter invalid lower case with numeric value in Last Name Fileds</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateBySelectCityandLocality<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and updating city and locality and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebySelectingrandomlyanyDropdownlistfromPreferenceTimeSlotFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and selecting randomly any dropdown list from preference timeslot and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateEnterValidUpperLowercaseFirstLastName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter Valid Upper lower case in first and Last Name Fileds</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebySelectingrandomlyanyDropdownlistfromRingBellFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and selecting randomly any dropdown list from Ring bell and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithCustomerId<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid customer Id for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithInvalidPhoneNumber<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with invalid Phone Number(Customer phone number is enter wrong) for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateByEnterValidState<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and enter valid State and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithinvalidCustomerId<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with invalid customer Id for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateselectingandEnterAllFiledSearching<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that selecting any route randomly first and also selecting any Area randomly then searching the customer list for selected routes</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithInvalidName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with invalid Name(Customer Name is enter wrong) for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateCustomerSearchPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that customer search page</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateEnterValidAllLowercaseFirstLastName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter Valid all lower case in first and Last Name Fileds</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebySelectingrandomlyanyDropdownlistfromPromotionalSMSFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and selecting randomly any dropdown list from promotional sms and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateEntervalidEmailId<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter valid email Id and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateselectinganyAreaandSearching<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that selecting any Area randomly first then searching the customer list for selected Area</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebyEnterPositiveWalletRemark<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter positive wallet remark and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebySelectingrandomlyanyDropdownlistfromHowyoucameToKnownFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and selecting randomly any dropdown list from how you came to known and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Name for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateselectinganyRoute<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that selecting any route randomly</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebySelectingrandomlyanyDropdownlistfromStopDeliverysmsFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and selecting randomly any dropdown list from stop delivery sms and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateEnterInvalidBlankTextInFirstNameField<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter blank Invalid Name Filed and Enter valid lower case in Last Name Fileds</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateEnterInvalidLowercasewithnumericvalueFirstName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter Invalid Lower case with numeric value in Name Filed and Enter valid lower case in Last Name Fileds</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateByEnterinValidAddressLine1<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and enter blank text invalid address line1 and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebySelectingrandomlyanyDropdownlistfromPositiveWalletFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and selecting randomly any dropdown list from Positive wallet and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithvalidEmail<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Email for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateselectinganyRoutesandAreaandSearching<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that selecting any route randomly first and also selecting any Area randomly then searching the customer list for selected routes</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithPhoneNumber<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateByEnterValidAddressLine2<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and enter valid address line2 and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateEnterValidLargeFirstName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter Valid large text in First Name with lower case in Last Name Fileds</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebySelectingrandomlyanyDropdownlistfromPromotionalCallsFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and selecting randomly any dropdown list from promotional Calls and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateEnterValidallUppercaseFirstLastName<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter Valid all Upper case in first and Last Name Fileds</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebySelectingrandomlyanyDropdownlistfromOBDCallsFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and selecting randomly any dropdown list from OBD Calls and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateByEnterValidAddressLine1<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and enter valid address line1 and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateselectingCustomer<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it.</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithvalidAddress<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Address for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateByEnterValidAddressLine3<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and enter valid address line3 and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateByEnterLargeValidAddressLine1<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and enter large valid address line1 and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithinvalidAddress<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with invalid Address for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateselectinganyRoutesandSearching<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that selecting any route randomly first then searching the customer list for selected routes</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebySelectingrandomlyanyDropdownlistfromBillCyclesFiled<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and selecting randomly any dropdown list from Bill Cycles and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validatebyEnterPreferenceRemark<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and click on edit profile button and Enter Preference remark and finally click on update button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithinvalidEmail<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with invalid Email for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateselectingCustomerandClickingOnebyOne<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer and clicking it and finally customer profile will open and clicking one by one filed.</i></td></tr>
</table>