<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateEnterCustomerId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSelectMonthDropdownListPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSelectLocalityDropdownListPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSelectYearDropdownListPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSelectCityDropdownListPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateListOfData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateSelectFranchiseDropdownListPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>End</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
