<h2>Methods that were not run</h2><table>
<tr><td>com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest.validateListOfData<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that click on get sale recharge button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest.validateSelectFranchiseDropdownListPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Select a particular franchie from dropdown list and click on get sale recharge button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest.validateSelectLocalityDropdownListPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Select a particular Locality from dropdown list and click on get sale recharge button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest.validateSelectYearDropdownListPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Select a particular Year dropdown list and click on get sale recharge button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest.validateSelectCityDropdownListPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Select a particular city from dropdown list and click on get sale recharge button</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest.validateSelectMonthDropdownListPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Select a particular Month dropdown list and click on get sale recharge button</i></td></tr>
</table>