<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa6d6c">  <td>21/07/29 16:54:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SaleRechargeAnalysisPageTest.setUp()[pri:0, instance:com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest@3af4e0bf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@204078646</td>   <td></td> </tr>
<tr bgcolor="aa6d6c">  <td>21/07/29 16:54:39</td>   <td>24542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaleRechargeAnalysisPageTest.validateEnterCustomerId()[pri:6, instance:com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest@3af4e0bf]">validateEnterCustomerId</td> 
  <td>main@204078646</td>   <td></td> </tr>
<tr bgcolor="aa6d6c">  <td>21/07/29 16:55:21</td>   <td>66391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SaleRechargeAnalysisPageTest.End()[pri:0, instance:com.new_cms_admin.qa.testcases.SaleRechargeAnalysisPageTest@3af4e0bf]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@204078646</td>   <td></td> </tr>
</table>
