<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Country Delight Test Automation suite for Admin Pages</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c8f62">  <td>21/03/26 11:43:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustomerProfilePageTest.End()[pri:0, instance:com.new_cms_admin.qa.testcases.CustomerProfilePageTest@5a021cb9]">&lt;&lt;End</td> 
<td>&nbsp;</td>  <td>main@356338363</td>   <td></td> </tr>
<tr bgcolor="6c8f62">  <td>21/03/26 11:43:04</td>   <td>-48079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustomerProfilePageTest.setUp()[pri:0, instance:com.new_cms_admin.qa.testcases.CustomerProfilePageTest@5a021cb9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@356338363</td>   <td></td> </tr>
<tr bgcolor="6c8f62">  <td>21/03/26 11:43:34</td>   <td>-17834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustomerProfilePageTest.validateselectinganyArea()[pri:6, instance:com.new_cms_admin.qa.testcases.CustomerProfilePageTest@5a021cb9]">validateselectinganyArea</td> 
  <td>main@356338363</td>   <td></td> </tr>
</table>
