<h2>Methods that were not run</h2><table>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithinvalidCustomerId<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with invalid customer Id for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateCustomerSearchPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that customer search page</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithPhoneNumber<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid Phone Number for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithCustomerId<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with valid customer Id for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateSearchWithInvalidPhoneNumber<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that Search with invalid Phone Number(Customer phone number is enter wrong) for customer</i></td></tr>
<tr><td>com.new_cms_admin.qa.testcases.CustomerProfilePageTest.validateselectinganyRoute<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that selecting any route randomly</i></td></tr>
</table>